@model KidChores.Data.Models.KidChore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KidChore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chore.ChoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chore.ChoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kid.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kid.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KidChoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
